VVPosM/VVPosM/VVPosM1/Web References/WS1/WS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld001">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorld001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorld001Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bSSL" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="SMTPserver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FromEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendMailResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msgErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorld001SoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld001" />
  </wsdl:message>
  <wsdl:message name="HelloWorld001SoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorld001Response" />
  </wsdl:message>
  <wsdl:message name="sendMailSoapIn">
    <wsdl:part name="parameters" element="tns:sendMail" />
  </wsdl:message>
  <wsdl:message name="sendMailSoapOut">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:portType name="WS1Soap">
    <wsdl:operation name="HelloWorld001">
      <wsdl:input message="tns:HelloWorld001SoapIn" />
      <wsdl:output message="tns:HelloWorld001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <wsdl:input message="tns:sendMailSoapIn" />
      <wsdl:output message="tns:sendMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS1Soap" type="tns:WS1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld001">
      <soap:operation soapAction="http://tempuri.org/HelloWorld001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap:operation soapAction="http://tempuri.org/sendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS1Soap12" type="tns:WS1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld001">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap12:operation soapAction="http://tempuri.org/sendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS1">
    <wsdl:port name="WS1Soap" binding="tns:WS1Soap">
      <soap:address location="http://localhost:8899/WS1.asmx" />
    </wsdl:port>
    <wsdl:port name="WS1Soap12" binding="tns:WS1Soap12">
      <soap12:address location="http://localhost:8899/WS1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>