VVPosM/VVPosM1/Web References/DestopService/DestopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsServiceReady">
        <s:complexType />
      </s:element>
      <s:element name="IsServiceReadyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsServiceReadyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsDataReady">
        <s:complexType />
      </s:element>
      <s:element name="IsDataReadyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsDataReadyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pTableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataStoreProcQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryCmd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataStoreProcQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataStoreProcQuery_Param">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryCmd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DataStoreProcQuery_ParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataStoreProcExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryCmd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataStoreProcExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataStoreProceduceAndMultiQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryCmd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pParam" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryOrder" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="pResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataStoreProceduceAndMultiQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecuteId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecuteIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataMultiExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pQueryArrString" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataMultiExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataScalar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pStringQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pObject" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataScalarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pObject" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataCommandBuilderUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pTableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pToTable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataCommandBuilderUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DataCommandBuilderUpdateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSaveImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pImageBuffer" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pColumnIdName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pColumnImageName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSaveImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataReadImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pColumnIdName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pColumnImageName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataReadImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataReadImageResult" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecuteForProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="IsNode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsPrint" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecuteForProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecuteEdit_ForProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsernameOrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="IsNode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsPrint" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExecuteEdit_ForProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsServiceReadySoapIn">
    <wsdl:part name="parameters" element="tns:IsServiceReady" />
  </wsdl:message>
  <wsdl:message name="IsServiceReadySoapOut">
    <wsdl:part name="parameters" element="tns:IsServiceReadyResponse" />
  </wsdl:message>
  <wsdl:message name="IsDataReadySoapIn">
    <wsdl:part name="parameters" element="tns:IsDataReady" />
  </wsdl:message>
  <wsdl:message name="IsDataReadySoapOut">
    <wsdl:part name="parameters" element="tns:IsDataReadyResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserSoapIn">
    <wsdl:part name="parameters" element="tns:IsUser" />
  </wsdl:message>
  <wsdl:message name="IsUserSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserResponse" />
  </wsdl:message>
  <wsdl:message name="DataQuerySoapIn">
    <wsdl:part name="parameters" element="tns:DataQuery" />
  </wsdl:message>
  <wsdl:message name="DataQuerySoapOut">
    <wsdl:part name="parameters" element="tns:DataQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DataStoreProcQuerySoapIn">
    <wsdl:part name="parameters" element="tns:DataStoreProcQuery" />
  </wsdl:message>
  <wsdl:message name="DataStoreProcQuerySoapOut">
    <wsdl:part name="parameters" element="tns:DataStoreProcQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DataStoreProcQuery_ParamSoapIn">
    <wsdl:part name="parameters" element="tns:DataStoreProcQuery_Param" />
  </wsdl:message>
  <wsdl:message name="DataStoreProcQuery_ParamSoapOut">
    <wsdl:part name="parameters" element="tns:DataStoreProcQuery_ParamResponse" />
  </wsdl:message>
  <wsdl:message name="DataStoreProcExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:DataStoreProcExecute" />
  </wsdl:message>
  <wsdl:message name="DataStoreProcExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:DataStoreProcExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="DataStoreProceduceAndMultiQuerySoapIn">
    <wsdl:part name="parameters" element="tns:DataStoreProceduceAndMultiQuery" />
  </wsdl:message>
  <wsdl:message name="DataStoreProceduceAndMultiQuerySoapOut">
    <wsdl:part name="parameters" element="tns:DataStoreProceduceAndMultiQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DataExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:DataExecute" />
  </wsdl:message>
  <wsdl:message name="DataExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:DataExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="DataExecuteIdSoapIn">
    <wsdl:part name="parameters" element="tns:DataExecuteId" />
  </wsdl:message>
  <wsdl:message name="DataExecuteIdSoapOut">
    <wsdl:part name="parameters" element="tns:DataExecuteIdResponse" />
  </wsdl:message>
  <wsdl:message name="DataMultiExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:DataMultiExecute" />
  </wsdl:message>
  <wsdl:message name="DataMultiExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:DataMultiExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="DataScalarSoapIn">
    <wsdl:part name="parameters" element="tns:DataScalar" />
  </wsdl:message>
  <wsdl:message name="DataScalarSoapOut">
    <wsdl:part name="parameters" element="tns:DataScalarResponse" />
  </wsdl:message>
  <wsdl:message name="DataCommandBuilderUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:DataCommandBuilderUpdate" />
  </wsdl:message>
  <wsdl:message name="DataCommandBuilderUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:DataCommandBuilderUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DataSaveImageSoapIn">
    <wsdl:part name="parameters" element="tns:DataSaveImage" />
  </wsdl:message>
  <wsdl:message name="DataSaveImageSoapOut">
    <wsdl:part name="parameters" element="tns:DataSaveImageResponse" />
  </wsdl:message>
  <wsdl:message name="DataReadImageSoapIn">
    <wsdl:part name="parameters" element="tns:DataReadImage" />
  </wsdl:message>
  <wsdl:message name="DataReadImageSoapOut">
    <wsdl:part name="parameters" element="tns:DataReadImageResponse" />
  </wsdl:message>
  <wsdl:message name="DataExecuteForProductSoapIn">
    <wsdl:part name="parameters" element="tns:DataExecuteForProduct" />
  </wsdl:message>
  <wsdl:message name="DataExecuteForProductSoapOut">
    <wsdl:part name="parameters" element="tns:DataExecuteForProductResponse" />
  </wsdl:message>
  <wsdl:message name="DataExecuteEdit_ForProductSoapIn">
    <wsdl:part name="parameters" element="tns:DataExecuteEdit_ForProduct" />
  </wsdl:message>
  <wsdl:message name="DataExecuteEdit_ForProductSoapOut">
    <wsdl:part name="parameters" element="tns:DataExecuteEdit_ForProductResponse" />
  </wsdl:message>
  <wsdl:portType name="DestopServiceSoap">
    <wsdl:operation name="IsServiceReady">
      <wsdl:input message="tns:IsServiceReadySoapIn" />
      <wsdl:output message="tns:IsServiceReadySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsDataReady">
      <wsdl:input message="tns:IsDataReadySoapIn" />
      <wsdl:output message="tns:IsDataReadySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUser">
      <wsdl:input message="tns:IsUserSoapIn" />
      <wsdl:output message="tns:IsUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataQuery">
      <wsdl:input message="tns:DataQuerySoapIn" />
      <wsdl:output message="tns:DataQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcQuery">
      <wsdl:input message="tns:DataStoreProcQuerySoapIn" />
      <wsdl:output message="tns:DataStoreProcQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcQuery_Param">
      <wsdl:input message="tns:DataStoreProcQuery_ParamSoapIn" />
      <wsdl:output message="tns:DataStoreProcQuery_ParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcExecute">
      <wsdl:input message="tns:DataStoreProcExecuteSoapIn" />
      <wsdl:output message="tns:DataStoreProcExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataStoreProceduceAndMultiQuery">
      <wsdl:input message="tns:DataStoreProceduceAndMultiQuerySoapIn" />
      <wsdl:output message="tns:DataStoreProceduceAndMultiQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataExecute">
      <wsdl:input message="tns:DataExecuteSoapIn" />
      <wsdl:output message="tns:DataExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataExecuteId">
      <wsdl:input message="tns:DataExecuteIdSoapIn" />
      <wsdl:output message="tns:DataExecuteIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataMultiExecute">
      <wsdl:input message="tns:DataMultiExecuteSoapIn" />
      <wsdl:output message="tns:DataMultiExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataScalar">
      <wsdl:input message="tns:DataScalarSoapIn" />
      <wsdl:output message="tns:DataScalarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataCommandBuilderUpdate">
      <wsdl:input message="tns:DataCommandBuilderUpdateSoapIn" />
      <wsdl:output message="tns:DataCommandBuilderUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataSaveImage">
      <wsdl:input message="tns:DataSaveImageSoapIn" />
      <wsdl:output message="tns:DataSaveImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataReadImage">
      <wsdl:input message="tns:DataReadImageSoapIn" />
      <wsdl:output message="tns:DataReadImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataExecuteForProduct">
      <wsdl:input message="tns:DataExecuteForProductSoapIn" />
      <wsdl:output message="tns:DataExecuteForProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataExecuteEdit_ForProduct">
      <wsdl:input message="tns:DataExecuteEdit_ForProductSoapIn" />
      <wsdl:output message="tns:DataExecuteEdit_ForProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DestopServiceSoap" type="tns:DestopServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsServiceReady">
      <soap:operation soapAction="http://tempuri.org/IsServiceReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDataReady">
      <soap:operation soapAction="http://tempuri.org/IsDataReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUser">
      <soap:operation soapAction="http://tempuri.org/IsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataQuery">
      <soap:operation soapAction="http://tempuri.org/DataQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcQuery">
      <soap:operation soapAction="http://tempuri.org/DataStoreProcQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcQuery_Param">
      <soap:operation soapAction="http://tempuri.org/DataStoreProcQuery_Param" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcExecute">
      <soap:operation soapAction="http://tempuri.org/DataStoreProcExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProceduceAndMultiQuery">
      <soap:operation soapAction="http://tempuri.org/DataStoreProceduceAndMultiQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecute">
      <soap:operation soapAction="http://tempuri.org/DataExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecuteId">
      <soap:operation soapAction="http://tempuri.org/DataExecuteId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataMultiExecute">
      <soap:operation soapAction="http://tempuri.org/DataMultiExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataScalar">
      <soap:operation soapAction="http://tempuri.org/DataScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataCommandBuilderUpdate">
      <soap:operation soapAction="http://tempuri.org/DataCommandBuilderUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSaveImage">
      <soap:operation soapAction="http://tempuri.org/DataSaveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataReadImage">
      <soap:operation soapAction="http://tempuri.org/DataReadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecuteForProduct">
      <soap:operation soapAction="http://tempuri.org/DataExecuteForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecuteEdit_ForProduct">
      <soap:operation soapAction="http://tempuri.org/DataExecuteEdit_ForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DestopServiceSoap12" type="tns:DestopServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsServiceReady">
      <soap12:operation soapAction="http://tempuri.org/IsServiceReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDataReady">
      <soap12:operation soapAction="http://tempuri.org/IsDataReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUser">
      <soap12:operation soapAction="http://tempuri.org/IsUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataQuery">
      <soap12:operation soapAction="http://tempuri.org/DataQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcQuery">
      <soap12:operation soapAction="http://tempuri.org/DataStoreProcQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcQuery_Param">
      <soap12:operation soapAction="http://tempuri.org/DataStoreProcQuery_Param" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProcExecute">
      <soap12:operation soapAction="http://tempuri.org/DataStoreProcExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataStoreProceduceAndMultiQuery">
      <soap12:operation soapAction="http://tempuri.org/DataStoreProceduceAndMultiQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecute">
      <soap12:operation soapAction="http://tempuri.org/DataExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecuteId">
      <soap12:operation soapAction="http://tempuri.org/DataExecuteId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataMultiExecute">
      <soap12:operation soapAction="http://tempuri.org/DataMultiExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataScalar">
      <soap12:operation soapAction="http://tempuri.org/DataScalar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataCommandBuilderUpdate">
      <soap12:operation soapAction="http://tempuri.org/DataCommandBuilderUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSaveImage">
      <soap12:operation soapAction="http://tempuri.org/DataSaveImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataReadImage">
      <soap12:operation soapAction="http://tempuri.org/DataReadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecuteForProduct">
      <soap12:operation soapAction="http://tempuri.org/DataExecuteForProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataExecuteEdit_ForProduct">
      <soap12:operation soapAction="http://tempuri.org/DataExecuteEdit_ForProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DestopService">
    <wsdl:port name="DestopServiceSoap" binding="tns:DestopServiceSoap">
      <soap:address location="http://localhost:8899/DestopService.asmx" />
    </wsdl:port>
    <wsdl:port name="DestopServiceSoap12" binding="tns:DestopServiceSoap12">
      <soap12:address location="http://localhost:8899/DestopService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>